langchain-core~=0.3.86
langchain-openai~=0.3.16
langchain-community~=0.3.31
langchain-text-splitters~=0.3.11
langchain-huggingface~=0.3.1
langchain-chroma~=0.2.6
chromadb
sentence-transformers
pypdf
docx2txt
python-dotenv~=1.2.1
python-docx~=1.1.2
streamlit
rank_bm25
ragas
datasets
